.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    padding-right: 0;
    width:100%;
}
.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(https://www.getsmarter.com/blog/wp-content/uploads/2017/02/Career-Goals-Job-Search-Emails-Banner-6.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 10px;
    color:#d36ac7;
}
.hero .form-hero {
    display: block;
    width: 400px;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}
.hero h1 {
    /* Text styles */
    font-size: 5em;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}
.card-header {
    font-size: 1.25em;
    font-family: 'Josefin Sans', sans-serif;
}
.page-footer{
    font-family: 'Josefin Sans', sans-serif;
}
.card-horizontal .img-square-wrapper {
    flex-basis: 20%;
    padding: 0;
}
.card-body-collapse{
    padding: 0;
}
.card-list {
    height: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    overflow: hidden;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.card img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
h1 {
    text-align: center;
    padding-top: 1em;
    font-family: 'Josefin Sans', sans-serif;
}
.navbar{
    font-family: 'Josefin Sans', sans-serif;
    background-color: black!important;
}
.nav-link {
    color: #cb52bf;
}
p {
    font-family: 'Josefin Sans', sans-serif;
}
.img-download {
    position: relative;
}
.collapse {
    position: absolute;
    top: 27px;
    right: 0;
}
.collapsing {
    position: absolute;
    top: 27px;
    right: 0;
}
.img-download > a {
    position: absolute;
    top: 2px;
    right: 5px;
}
@media (min-width:576px) {
    .card-columns {
        column-count: 2;
    }
}
@media (min-width:768px) {
    .card-columns {
        column-count: 2;
    }
}
@media (min-width:992px) {
    .card-columns {
        column-count: 3;
    }
}
@media (min-width:1200px) {
    .card-columns {
        column-count: 3;
    }
}
:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

body {
    background: #cb52bf;
    background: linear-gradient(to right, #d36ac7, #C23bb6);
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .form-label-group > label {
        display: none;
    }

    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}