<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: headstuff">
    <title id="headTitle">Appeal</title>
</head>
<body>
<div class="wrapper">
    <div class="page-header">
        <nav th:replace="base :: navbar"></nav>
    </div>
    <div class="container page-content">
        <div class="jumbotron col-md-6 mx-auto" style="margin-top: 5em; padding-top: 2rem">
            <div class="mx-auto">
                <h1 class="display-5">Request an Appeal</h1>
            </div>
            <form class="form-signin mx-auto" action="#" th:action="@{/processappeal/{id}(id=${link.id})}" method="post"
                  enctype="multipart/form-data">
                <input type="hidden" name="app" th:field="${link.id}"/>
                <h6 class="display-5" th:inline="text">Reason for appeal: [[${link.status}]]</h6>
                <br/>
                <div class="form-label-group">
                    <textarea type="text" class="form-control" id="explain" name="explain"
                              placeholder="Explanation for Appeal" required autofocus></textarea>
                    <!--                <label for="explain">Explanation for Appeal</label>-->
                </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase w-50 mx-auto" type="submit">Submit
                </button>
            </form>
        </div>
    </div>
    <footer th:replace="base :: footer"></footer>
</div>
</body>
</html>