<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head th:replace="base :: headstuff"></head>
<body>
<nav th:replace="base :: navbar"></nav>
<div class="container">
    <div class="jumbotron col-md-6 mx-auto" style="margin-top: 20px; padding-top: 2rem">

        <!-- INTRO HEADER -->
        <div class="mx-auto">
            <h1 class="display-4">Applying to <span th:text="${job.title}"></span></h1>
        </div>

        <form class="form-signin mx-auto"
              action="#"
              th:action="@{/processapplication}"
              th:object="${application}"
              method="post">

            <!-- id :: set automatically -->
            <input type="hidden" th:field="*{id}" />

            <!-- user OBJECT :: set on back end -->
            <input type="hidden" th:field="*{user}" />

            <!-- jobId :: set on back end -->
            <input type="hidden" th:field="*{jobId}" />

            <!-- dateApplied :: DISPLAY ONLY :: set on back end -->
            <input type = "hidden" th:field="*{dateApplied}" />
            <h3>
                Application Date:
                <span th:text="${#temporals.format(${application.dateApplied}, 'dd-MM-yyyy')}"></span>
            </h3>

            <!-- resume :: SELECT field :: select by id -->
            <!-- department :: single SELECT field -->
            <div class="form-label-group">

                <label for="selectResumeId" class="">Select Resume</label>
                <!-- *** IMPORTANT :: the name of the select tag below SHOULD NOT overlap with the name of the th:field, -->
                <!-- *** if it does, this will cause unwanted extra comma before our selection!... ahhhhh... -->
                <select required id="selectResumeId" name="selectResumeId"
                        class="">
                    <option selected value="">Select resume...</option>
                    <option th:each="resume : ${allResumes}"
                            th:value="${resume.id}"
                            th:inline="text"
                            th:text="${resume.name}">
                    </option>
                </select>
            </div>

            <!-- submit button -->
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button>

        </form>
    </div>
</div>
<footer th:replace="base :: footer"></footer>
</body>
<th:block th:replace="base :: jslinks"></th:block>
</html>
