<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: headstuff">
    <title id="headTitle">Home</title>
</head>
<body>
<nav th:replace="base :: navbar"></nav>

<section class="hero">
    <div class="hero-inner">
        <h1>Your job search ends here!</h1>
        <form class="form form-inline form-hero mx-auto" th:action="@{/search}" method="post">
            <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search for Jobs..."
                   aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</section>

<div class="container col-md-10">
    <div class="row">
        <div class="col-md-3 mt-4">
            <h3>My Resumes</h3>
            <div class="card border-secondary">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:each="resume: ${user.resumes}" th:text="${resume.name}"></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <h1>Applications</h1>
            <div th:if="${links}==null">
                <h1>No links to display</h1>
            </div>
            <div th:if="${links.size()}==0">
                <h1>No Applications to display</h1>
            </div>

            <!-- START :: each application box :: horizontal card -->
            <div th:each="link : ${links}">
                <div th:with="job=${link.job}, interview=${link.interview}"
                     class="card card-list mb-3 animated fadeInUp">
                    <div class="card-horizontal">
                        <div class="card-header col-md-4 d-flex flex-column justify-content-around">
                            <h4>[[${job.title}]]</h4>
                            <h6>Applied<br>[[${link.dateApplied}]]</h6>
                        </div>
                        <div class="card-body col-md-5 d-flex flex-column justify-content-around">
                            <div>
                                <h4>[[${link.status}]]</h4>
                                <h6>[[${link.resume.name}]]</h6>
                            </div>

                            <!-- STATUS MESSAGES -->
                            <h6 th:if="${link.status.equals('Accepted')}">
                                Be sure to schedule your interview within two weeks of [[${link.dateApplied}]]
                            </h6>
                            <h6 th:if="${link.status.equals('Interview Scheduled')}">
                                Date: [[${interview.dateScheduled}]], Time: [[${interview.timeWindowStart}]]<br>
                                Be sure to log in during your interview time.
                            </h6>
                            <h6 th:if="${link.status.equals('Take Interview')}">
                                Date: [[${interview.dateScheduled}]], Time: [[${interview.timeWindowStart}]]<br>
                                Please take your interview within 30 minutes of [[${interview.timeWindowStart}]]!
                            </h6>
                        </div>
                        <div class="card-body col-md-3 d-flex flex-column justify-content-center">
                            <a th:if="${link.status.equals('Accepted')}"
                               class="btn btn-outline-dark"
                               th:href="@{/scheduleinterview/{id}(id=${link.id})}">
                                Schedule Interview
                            </a>
                            <a th:if="${link.status.equals('Take Interview')}"
                               class="btn btn-outline-dark"
                               th:href="@{/takeinterview/{id}(id=${interview.id})}">
                                Take Interview
                            </a>
                            <a th:if="${link.status.equals('Did Not Schedule Interview') or link.status.equals('Missed Interview')}"
                               class="btn btn-outline-dark"
                               th:href="@{/appeal/{id}(id=${link.id})}">
                                Appeal
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END :: each application box :: horizontal card -->

        </div>
    </div>
</div>


<!-- start Modal -->
<!-- if the modal markup is in the page when it loads, then it will load the modal. -->
<!-- hence the surrounding th:if -->
<div th:if="${takeInterviewLinks.size()>0}">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Time To Interview!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    It's time to take your interview for
                    <div th:each="takeInterviewLink : ${takeInterviewLinks}">
                        <a class="btn btn-primary my-2"
                           th:href="@{/takeinterview/{id}(id=${takeInterviewLink.interview.id})}">
                            [[${takeInterviewLink.job.title}]]
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Modal -->

<footer th:replace="base :: footer"></footer>
<div th:replace="base :: jslinks"></div>
</body>
<!--<th:block th:replace="base :: jslinks"></th:block>-->
</html>
