<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: headstuff">
    <title id="headTitle">Confirm Interview</title>
</head>
<body>
<nav th:replace="base :: navbar"></nav>
<main>
    <div class="container">
        <div class="jumbotron col-md-6 mx-auto" style="margin-top: 20px; padding-top: 2rem">
            <h1 class="text-center display-5">Thank you for completing the interview.</h1>
            <p class="text-center">Your responses have been sent to our hiring manager.</p>
            <h6 class="text-center">
            <a th:href="@{/}">Return to Home</a>
            </h6>
        </div>
    </div>
</main>
<footer th:replace="base :: footer"></footer>
<div th:replace="base :: jslinks"></div>
</body>
</html>