<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head th:replace="base :: headstuff"></head>
<body>
<nav th:replace="base :: navbar"></nav>
<div class="container">
    <div class="jumbotron col-md-6 mx-auto" style="margin-top: 20px; padding-top: 2rem">
        <div class="mx-auto">
            <h1 class="display-4">Schedule Time</h1>
            <h5 class="display-4">Please select an interview time for <span th:text="${application.job.title}"></span> position.</h5>
        </div>
        <form class="form-signin mx-auto"action="#" th:action="@{/processInterviewform}" th:object="${application.interview}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}" />

            <div class="form-label-group">
                <input type="date" class="form-control" id="interview-date" name="selected-date" th:field="*{dateScheduled}" th:value="${currentDate}" th:min="${currentDate}" th:max="${currentDate.plusDays(14)}" placeholder="Date" required autofocus/>
                <label for="interview-date">Select a date</label>
            </div>
            <div class="form-label-group">
                <input type="time" class="form-control" id="interview-time" name="selected-time" th:field="*{timeScheduled}" th:value="${currentTime}" placeholder="Time" required autofocus/>
                <label for="interview-time">Select a time</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button>
        </form>
    </div>
</div>
<footer th:replace="base :: footer"></footer>
</body>
<th:block th:replace="base :: jslinks"></th:block>
</html>