<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: headstuff">
    <title id="headTitle">Confirm Interview</title>
</head>
<body>
<nav th:replace="base :: navbar"></nav>
<main>

    <p>
        Your interview date is <span th:text="${#temporals.format(interview.dateScheduled)}"></span>
    </p>

    <p>
        Your interview time is <span th:text="${#temporals.format(interview.timeWindowStart)}"></span>
    </p>

</main>
<footer th:replace="base :: footer"></footer>
<div th:replace="base :: jslinks"></div>
</body>
</html>