<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: headstuff">
    <title id="headTitle">Jobs</title>
</head>
<body>
<nav th:replace="base :: navbar"></nav>
<br/>
<div class="container col-md-8">

    <h1 class="my-4">Jobs</h1>

    <div class="flex-column d-flex justify-content-center"
         th:if="${jobs}==null">
        <h4 class="pt-0">There's nothing here</h4>
        <h3 class="pt-1 mt-2"><img th:src="@{/images/favicon.png}" width="100" height="100"/></h3>
        <h4 class="pt-1 pb-3">Click to return <a th:href="@{/}">home</a></h4>
    </div>
    <div class="flex-column d-flex justify-content-center"
         th:if="${jobs.size()==0}">
        <h4 class="pt-0">There's nothing here</h4>
        <h3 class="pt-1 mt-2"><img th:src="@{/images/favicon.png}" width="100" height="100"/></h3>
        <h4 class="pt-1 pb-3">Click to return <a th:href="@{/}">home</a></h4>
    </div>

    <!-- START :: each job box :: horizontal card -->
    <div th:each="job : ${jobs}"
         class="card card-list mb-3 animated fadeInUp">
        <div class="card-horizontal">

            <div class="card-header col-md-5 d-flex flex-column justify-content-around">
                <h4>[[${job.title}]]</h4>
            </div>

            <div class="card-body col-md-7 d-flex flex-column justify-content-around">
                <!-- the posted date -->
                <h6 class="text-muted text-left mb-3">
                    Posted <span th:text="${#temporals.format(job.postedDate, 'MMM d, yyyy')}"></span>
                </h6>

                <!-- display the JOB DESCRIPTION -->
                <p class="card-text" th:text="${job.description}"></p>

                <!-- if the USER has NO job applications yet -->
                <div class="mx-auto"
                     th:if="${user.links.size()==0}">
                    <a class="btn btn-outline-dark"
                       th:href="@{/applytojob/{id}(id=${job.id})}">
                        Apply
                    </a>
                </div>

                <!-- if the USER has already applied to ANY jobs -->
                <div th:if="${user.linksContainJob(job)}">
                    <p class="card-text text-center">
                        Already Applied!
                    </p>
                </div>
                <div class="mx-auto"
                     th:unless="${user.linksContainJob(job)}">
                    <a class="btn btn-outline-dark"
                       th:href="@{/applytojob/{id}(id=${job.id})}">
                        Apply
                    </a>
                </div>
            </div>
            <!-- end of the SECTION within the HORIZONTAL CARD which displays the description + application link -->
        </div>
        <!-- end of HORIZONTAL CARD -->
    </div>
    <!-- end of for each job -->
</div>
<!-- end of CONTAINER -->
<footer th:replace="base :: footer"></footer>
<div th:replace="base :: jslinks"></div>
</body>
</html>