<!DOCTYPE html>
<html lang="en" xmlns:th= "http://www.thymeleaf.org">
<head th:replace="base :: headstuff">
    <title id="headTitle">Jobs</title>
</head>
<body>
<nav th:replace="base :: navbar"></nav>
<div class="container col-md-8">
    <div th:each="job : ${jobs}" class="card card-list mb-3 animated fadeInUp">
        <div class="card-horizontal">
            <div class="card-header col-md-3">
                <strong>[[${job.title}]]</strong>
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <p class="card-text" th:text="${job.description}"></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card-body">
                    <p class="card-text"><small th:text="${job.postedDate}" class="text-muted"></small></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card-body">
                    <a class="card-text" th:href="@{/applytojob/{id}(id=${job.id})}">Apply</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="base :: footer"></footer>
<div th:replace="base :: jslinks"></div>
</body>
</html>