<!DOCTYPE html>
<html lang="en" xmlns:th= "http://www.thymeleaf.org">
<head th:replace="base :: headstuff"></head>
<body>
<nav th:replace="base :: navbar"></nav>
<div class="container col-md-8">
    <div th:each="resume : ${resumes}" class="card card-list mb-3 animated fadeInUp">
        <div class="card-horizontal">
            <div class="card-header col-md-3">
                <strong>[[${resume.name}]]</strong>
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <p class="card-text" th:text="${resume.content}"></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card-body">
                    <p class="card-text">Id: <small th:text="${resume.id}" class="text-muted"></small></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card-body">
                    <a class="card-text" th:href="@{/deleteresume/{id}(id=${resume.id})}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="base :: footer"></footer>
</body>
<th:block th:replace="base :: jslinks"></th:block>
</html>