<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head th:replace="base :: headstuff"></head>
<body>
<nav th:replace="base :: navbar"></nav>
<div class="container">
    <div class="jumbotron col-md-8 mx-auto" style="margin-top: 20px; padding-top: 2rem">
        <div class="mx-auto">
            <h1 class="display-4">Interview Questions</h1>
        </div>
        <form class="form-signin mx-auto"action="#" th:action="@{/processtakeinterview}" method="post" enctype="multipart/form-data">

        </form>
    </div>
</div>
<footer th:replace="base :: footer"></footer>
</body>
<th:block th:replace="base :: jslinks"></th:block>
</html>